.spinner {
	transform: translate3d(0, 0, 0);
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #002d9c;
	border-radius: 50%;
	overflow: hidden;
}

.spinner:before,
.spinner:after {
	content: '';
	position: absolute;
	top: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.spinner:before {
	animation: spinner 3s infinite;
	transform-origin: 0 50%;
	left: 0;
	background: #0f62fe;
}
.spinner:after {
	animation: spinner 3s 0.2s reverse infinite;
	transform-origin: 100% 50%;
	right: 0;
	background: #78a9ff;
}
/*! CSS Used keyframes */

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
